// MARGINS AND PADDING
//////////////////////////////////////////
$mpLooper: 5;
$mpLooperMap: (0, 0.25, 0.5, 1, 1.5, 3);

@for $index from 1 through length($mpLooperMap) {
  $value: nth($mpLooperMap, $index);
  $name: $index - 1;

  .m-#{$name} {
    margin: #{$value}em !important;
  }

  .mx-#{$name} {
    margin-right: #{$value}em !important;
    margin-left: #{$value}em !important;
  }

  .my-#{$name} {
    margin-top: #{$value}em !important;
    margin-bottom: #{$value}em !important;
  }

  .mt-#{$name} {
    margin-top: #{$value}em !important;
  }

  .mr-#{$name} {
    margin-right: #{$value}em !important;
  }

  .mb-#{$name} {
    margin-bottom: #{$value}em !important;
  }

  .ml-#{$name} {
    margin-left: #{$value}em !important;
  }

  .p-#{$name} {
    padding: #{$value}em !important;
  }

  .px-#{$name} {
    padding-right: #{$value}em !important;
    padding-left: #{$value}em !important;
  }

  .py-#{$name} {
    padding-top: #{$value}em !important;
    padding-bottom: #{$value}em !important;
  }

  .pt-#{$name} {
    padding-top: #{$value}em !important;
  }

  .pr-#{$name} {
    padding-right: #{$value}em !important;
  }

  .pb-#{$name} {
    padding-bottom: #{$value}em !important;
  }

  .pl-#{$name} {
    padding-left: #{$value}em !important;
  }
}
