.right-content-section {
  z-index: 200;
  position: fixed;
  top: 60px;
  right: 0px;
  width: $rightSectionWidth;
  height: calc(100% - #{$topNavHeight});
  background-color: $menuBackgroundColor;
  border-left: 1px solid $primaryBorderColor;
  overflow: hidden;
  transition: right $menuAnimationSpeed;
  transition-timing-function: ease-out;
}

.wrapper.toggle-right-menu-hide .right-content-section {
  right: calc(0% - #{$rightSectionWidth});
}

$rightContentUlHeight: 30px;

.right-content-section > ul.right-content-section-menu {
  height: $rightContentUlHeight;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-content: space-evenly;
  background-color: darken($menuBackgroundColor, 10%);
  overflow: hidden;
  border-top: 1px solid $primaryBorderColor;
  li {
    height: $rightContentUlHeight;
    color: $primaryFontColor;
    font-size: 1em;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: lighten($primaryFontColor, 10%);
      background-color: darken($menuBackgroundColor, 5%);
    }
    &.active {
      color: $primaryColor;
      background-color: $menuBackgroundColor;
    }
  }
}

.tab-content {
  width: calc(#{$rightSectionWidth} - 16px);
  height: calc(100% - #{$rightContentUlHeight});
  position: absolute;
  left: -900px;
  &.active {
    left: 8px;
  }
  > span > .right-content-header,
  > .right-content-header {
    height: $rightSectionTabHeaderHeight;
    font-weight: 500;
    font-size: 0.9em;
    padding: 8px 8px 8px 8px;
    margin: 10px 0 20px 0;
    border-bottom: 1px solid $primaryColor;
    i.fa {
      font-size: 1.2em;
      color: lighten($primaryColor, 10%);
      cursor: pointer;
    }
    > span.pull-right {
      min-width: 40px;
      float: right;
      font-size: 0.8em;
      color: $secondaryFontColor;
      text-align: center;
      font-weight: 500;
      border-radius: 4px;
      padding: 2px;
      background-color: $primaryColor;
    }
  }
}

/////////////////////////////
//TAB TRANSITIONS////////////
/////////////////////////////
.tab-content-in,
.tab-content-out {
  animation-name: tab-content-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  left: 8px;
}

.tab-content-out {
  animation-name: tab-content-out;
  left: -$rightSectionWidth;
}

@keyframes tab-content-in {
  0% {
    left: $rightSectionWidth;
  }
  95% {
    left: 8px;
  }
}

@keyframes tab-content-out {
  0% {
    left: 8px;
    opacity: 1;
  }

  100% {
    left: -$rightSectionWidth;
    opacity: 0;
  }
}
/////////////////////////////
//TAB TRANSITIONS////////////
/////////////////////////////

@import "./right-section/_template-right-section-chat";
@import "./right-section/_template-right-section-calculator";
@import "./right-section/_template-right-section-to-do";
@import "./right-section/_template-right-section-settings";
@import "./right-section/_template-right-section-notifications";
