$topNavHeight: 60px;
$rightSectionWidth: 280px;
$rightSectionTabHeaderHeight: 35px;

$bottomChyronHeight: 45px;
$leftMenuWidth: 230px;

$mediaBreakPointSmall: 768px;
$mediaBreakPointMedium: 1024px;

$menuAnimationSpeed: 0.5s;

//RESPONSIVE
//////////////////////////////////////////
@media screen and (max-width: $mediaBreakPointMedium) {
  .hidden-md {
    display: none;
  }
}

@media screen and (max-width: $mediaBreakPointSmall) {
  .hidden-sm {
    display: none;
  }
}
